.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}

.special {
    color: blueviolet;
}

.info {
    font-size: 20px;
    color: rgb(116, 114, 114);
    text-align: center;
}

.buttons {
    display: flex;
    gap: 50px;
}