.button {
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}

.button:hover {
    opacity: 0.4;
}

.dark {
    background-color: black;
}

.blue {
    background-color: rgb(112, 59, 247);
}